<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Tạo tài khoản</h1>
            <input type="text" placeholder="Username" [(ngModel)]="registerForm.username" name="username" />
            <input type="email" placeholder="Email" [(ngModel)]="registerForm.email" name="email" />
            <input type="password" placeholder="Password" [(ngModel)]="registerForm.password" name="password" />
            <button (click)="register()">Đăng kí</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Đăng nhập </h1>
            <input type="text" placeholder="Username" [(ngModel)]="loginForm.username" name="username" />
            <input type="password" placeholder="Password" [(ngModel)]="loginForm.password" name="password" />
            <a href="javascript:void(0)">Quên mật khẩu</a>
            <button (click)="login()">Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào mừng!</h1>
                <p>Để duy trì kết nối với chúng tôi vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                <button class="ghost" id="signIn" (click)="loginFormChange()">Đăng nhập</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Xin chào bạn!</h1>
                <p>Nhập thông tin cá nhân của bạn và bắt đầu mua sắm với chúng tôi</p>
                <button class="ghost" id="signUp" (click)="registerFormChange()">Đăng kí</button>
            </div>
        </div>
    </div>
</div>